.circle {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: black;
    position: fixed; 
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 99999999;
  }

* {
  cursor: none;
}

a[href]:hover {
  color: rgba(53, 97, 72, 1.0);
}